@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
:root {
  --brand: #2e385b;
  --yellow: #e6b113;
  --secondary: #5E382E;
  --bg-light: #E6E6E6;
  --link-color: #1D242E;
  --dark: #000000;
  --grey: #7B7B7B;
  --border-color: rgba(112, 112, 112, 0.431);
  --br: .875rem;
  --body-text-color: #1d1d1d;
  --border-radius: .35rem;
  --white: #ffffff;
  --body-font: "Garet-Book";
  --second-font: "Oswald", sans-serif;
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
*::after, *::before {
  margin: 0%;
  padding: 0%;
}

html {
  font-size: 100%;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: var(--white);
  text-rendering: optimizeLegibility;
  font-family: var(--body-font);
  font-display: swap;
  line-height: 1.65;
  color: var(--body-text-color);
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  padding-right: 0 !important;
}

.lead-lg {
  font-size: 1.375rem;
}

.lead-sm {
  font-size: 1.125rem;
}

.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px;
}

.fs-15 {
  font-size: 0.937rem;
}

.fs-text {
  font-size: 2.8125rem;
}

.bg-light {
  background-color: rgba(234, 234, 234, 0.2431372549) !important;
}

.bg-primary {
  background-color: var(--brand) !important;
}

.bg-primary-light {
  background-color: #DFD6D4 !important;
}

.bg-dark {
  background-color: var(--dark) !important;
}

.bg-orange {
  background-color: var(--yellow) !important;
}

.bg-gradient {
  background-color: rgba(215, 233, 243, 0.24) !important;
}

.btn-bg {
  background-color: #0882DD !important;
}

.z-index {
  z-index: 99;
  position: relative;
}

.round {
  border-radius: 0.875rem;
}

.transition {
  transition: all 0.3s ease-in-out;
}

.text-primary {
  color: var(--brand) !important;
}

.text-dark {
  color: var(--dark) !important;
  opacity: 1 !important;
}

.link {
  color: var(--brand);
  cursor: pointer;
  word-wrap: break-word;
  text-decoration: none;
}
.link svg {
  transition: all 0.3s ease-in-out;
}
.link svg path {
  fill: var(--brand);
}
.link:hover {
  color: var(--dark);
}
.link:hover svg {
  transform: translateX(0.5rem);
}
.link:hover svg path {
  fill: var(--dark);
}

a {
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  color: var(--dark);
}
a:hover {
  color: var(--brand);
}

ul {
  padding-left: 0;
  margin-bottom: 0;
}
ul li {
  list-style-type: none;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.btn:focus, .form-control:focus, .form-select:focus, .form-check-input:focus {
  box-shadow: none;
  outline: none;
}

.btn {
  font-size: 1.25rem;
  padding: 0.875rem 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.875rem;
  display: inline-flex;
  transition: all 0.4s ease-in-out;
}

.btn-primary {
  background-color: var(--brand);
  border-color: var(--brand);
  color: var(--white);
}
.btn-primary svg path {
  fill: var(--white);
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #141414;
  border-color: #141414;
  filter: brightness(125%);
  letter-spacing: 1px;
}

.btn-outline-primary {
  border-color: var(--brand);
  color: var(--brand);
  opacity: 1 !important;
}
.btn-outline-primary svg path {
  transition: all 0.4s ease-in-out;
}
.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active {
  background-color: var(--brand);
  border-color: var(--brand);
  color: var(--white) !important;
}
.btn-outline-primary:hover svg path, .btn-outline-primary:focus svg path, .btn-outline-primary:active svg path {
  fill: var(--white);
}

.btn-outline-white {
  border-color: var(--white);
  color: var(--white);
}
.btn-outline-white:hover, .btn-outline-white:focus, .btn-outline-white:active {
  background-color: var(--white);
  border-color: var(--white);
  color: var(--brand) !important;
}
.btn-outline-white:hover svg path, .btn-outline-white:focus svg path, .btn-outline-white:active svg path {
  fill: var(--brand);
  transition: all 0.3s ease;
}

.btn-white {
  background-color: #fff;
  border-color: #fff;
  color: var(--dark);
}
.btn-white:hover, .btn-white:focus {
  background-color: var(--brand);
  border-color: var(--brand);
  color: var(--white);
}
.btn-white:hover svg, .btn-white:focus svg {
  color: var(--white);
}

.modal-open {
  padding-right: 0 !important;
}

/*------ Disc List Style ------------*/
.disc__list li {
  padding-left: 1.25rem;
  position: relative;
}
.disc__list li::before {
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  position: absolute;
  top: 0.5rem;
  left: 0%;
  background-color: var(--secondary);
  border-radius: 50%;
}
.disc__list li:not(:last-child) {
  margin-bottom: 0.25rem;
}
.disc__list.white li::before {
  background: var(--white);
}

.tooltip {
  opacity: 1;
}
.tooltip .tooltip-inner {
  padding: 0 0.5rem;
  min-height: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark);
  opacity: 1;
  line-height: 1.2;
}

.tooltip.show {
  opacity: 1 !important;
}

@media (max-width: 991.99px) {
  html {
    font-size: 93.75%;
  }
}
@media (max-width: 767.99px) {
  .h1 {
    font-size: 2rem;
  }
}
@media (max-width: 575.99px) {
  html {
    font-size: 87.5%;
  }
  .btn {
    font-size: 1rem;
  }
  .container {
    max-width: calc(100% - 20px);
  }
}
.scrolled-down {
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;
}

.scrolled-up {
  transform: translateY(0);
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  transition: all 0.3s ease-in-out;
  z-index: 1050;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
  background-color: var(--white);
}
.scrolled-up .navbar-brand img {
  max-height: 5rem;
}

.navbar {
  background-color: #f2f2f2;
}
.navbar .navbar-brand img {
  max-height: 4.5rem;
}
.navbar .nav-item .nav-link {
  font-size: 1rem;
  color: var(--dark);
  font-weight: 400;
  transition: all 0.3s ease-in-out;
}
.navbar .nav-item .nav-link:hover {
  color: var(--secondary);
}
.navbar .nav-item .nav-link:hover .caret {
  transform: rotate(-180deg);
}
.navbar .nav-item.active .nav-link {
  color: var(--secondary);
}
.navbar .nav-item.active .nav-link.btn-primary {
  color: var(--white);
  background-color: var(--dark);
}
.navbar.fixed-top {
  position: fixed;
  background-color: var(--white) !important;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out;
  animation: mymove 1s ease-in-out;
}

.ac__btn {
  width: 3rem;
  height: 3rem;
}
.ac__btn svg {
  width: 1.5rem;
  height: 1.5rem;
}
.ac__btn:hover {
  background-color: rgba(0, 0, 0, 0.0352941176);
}

.search__form__overlay {
  border: 1px solid var(--white);
}
.search__form__overlay .form-control {
  height: 2.625rem;
}
.search__form__overlay .form-control::placeholder {
  color: var(--dark);
  opacity: 0.25;
}

.sideNav {
  border-top-right-radius: 1rem;
}
.sideNav .offcanvas-header {
  background-color: #F7F4F3;
}
.sideNav ul.links__list li {
  border-bottom: 1px solid rgba(238, 238, 238, 0.2392156863);
}
.sideNav ul.links__list li a {
  display: flex;
  padding: 0.75rem 1rem;
  color: var(--link-color);
  text-transform: uppercase;
  justify-content: space-between;
  align-self: center;
  font-size: 1.125rem;
}

@media (max-width: 1400px) {
  .navbar .nav-item .nav-link {
    font-size: 1rem;
  }
}
@media (max-width: 991px) {
  .responsive__search__form__overlay {
    transform: translateY(-100%);
    opacity: 0;
    transition: all 0.3s ease-in-out;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    background: rgb(31, 31, 31);
    padding: 1rem;
  }
  .responsive__search__form__overlay .form__overlay {
    width: 100%;
  }
  .responsive__search__form__overlay.js--open {
    transform: translateY(0);
    opacity: 1;
  }
}
@media (max-width: 576px) {
  .navbar .navbar-brand img {
    max-height: 3.5rem;
  }
  .navbar .container {
    padding-left: 0;
    padding-right: 0;
  }
  .sideNav {
    --bs-offcanvas-width: 80%;
  }
}
footer {
  padding: 3rem 0 0rem 0;
  background-color: #f2f2f2;
}
footer .info__card .icon {
  width: 2.5rem;
}
footer a {
  color: var(--dark);
  text-transform: capitalize;
  opacity: 0.8;
  background: linear-gradient(to bottom, var(--secondary) 0%, var(--secondary) 98%);
  background-size: 0% 1px;
  background-repeat: no-repeat;
  background-position: 0% 100%;
}
footer a:hover {
  color: var(--secondary);
  background-size: 100% 1px;
  opacity: 1;
}
footer .instagram__btn {
  width: 3rem;
  height: 3rem;
  background-color: var(--dark);
  color: var(--white);
  transition: all 0.3s ease-in-out;
}
footer .instagram__btn:hover, footer .instagram__btn:focus, footer .instagram__btn:active {
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  text-decoration: none;
  color: var(--white);
}

.social__links li {
  margin-bottom: 0;
}
.social__links li a {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 3px;
  background-color: var(--white);
}
.social__links li a svg {
  width: 1.2rem;
  height: 1.2rem;
}
.social__links li a:hover, .social__links li a:focus {
  background-color: var(--dark);
  color: var(--white);
}
.social__links li a:hover svg, .social__links li a:focus svg {
  fill: white;
}
.social__links.footer li a {
  background-color: var(--dark);
}
.social__links.footer li a:hover, .social__links.footer li a:focus {
  background-color: var(--brand);
  color: var(--white);
}

/*---------------------- Back to Top Css --------------*/
.backTop {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 3.5rem;
  min-height: auto;
  height: 3.5rem;
  padding: 0 0 0 0;
  background-color: var(--white);
  z-index: 999;
  display: none;
  border: 2px solid var(--white);
  justify-content: center;
}
.backTop.show {
  display: flex;
}

@media (max-width: 575.99px) {
  footer .logo img {
    max-height: 4rem;
    width: auto;
  }
}
.header__wrapper .hero__thumbnail {
  height: 800px;
}

@media (max-width: 1500px) {
  .header__wrapper .hero__thumbnail {
    height: 665px;
  }
}
@media (max-width: 575px) {
  .header__wrapper .hero__thumbnail {
    height: 500px;
  }
  .header__wrapper .tagline {
    max-height: 7rem;
    width: auto;
  }
}
.product__card {
  background-color: #fff;
}
.product__card .thumbnail img {
  transition: all 0.4s ease-in-out;
}
.product__card .action__btns {
  bottom: 1rem;
  transform: translateY(100%);
  transition: all 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
}
.product__card .title a {
  color: var(--dark);
  background: linear-gradient(to bottom, #0b0c0c 0%, #0b0c0c 98%);
  background-size: 0% 1px;
  background-repeat: no-repeat;
  background-position: 0% 100%;
}
.product__card .title a:hover {
  color: var(--brand);
  background-size: 100% 1px;
}
.product__card .wish__btn {
  width: 3rem;
  height: 3rem;
  background-color: #fff;
}
.product__card .wish__btn:hover {
  background-color: var(--bg-light);
}
.product__card:hover .thumbnail img {
  transform: scale(1.1);
}
.product__card:hover .action__btns {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.nav-tabs::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: var(--bg-light);
  position: absolute;
  bottom: 0%;
  left: 0%;
}

.nav-tabs .nav-link {
  color: #555;
  z-index: 999;
  background-color: transparent;
  background: linear-gradient(to bottom, #0b0c0c 0%, #0b0c0c 98%);
  background-size: 0 3px;
  background-repeat: no-repeat;
  background-position: right 100%;
  transition: background-size 0.75s;
}

.nav-tabs .nav-link:hover {
  isolation: inherit !important;
}

.nav-tabs .nav-link.active {
  background-size: 100% 3px;
  background-position: 0% 100%;
}

.tab-content .tab-pane {
  height: 0;
  display: block;
  opacity: 0;
  visibility: hidden;
}
.tab-content .tab-pane.show {
  height: 100%;
  opacity: 1;
  visibility: visible;
}

.category__wrapper .large__banner img {
  transition: all 0.4s ease-in-out;
  height: 655px;
}
.category__wrapper .large__banner:hover img {
  transform: scale(1.1) rotate(1deg);
}
.category__wrapper .small__banner img {
  transition: all 0.4s ease-in-out;
  height: 320px;
}
.category__wrapper .small__banner:hover img {
  transform: scale(1.1) rotate(1deg);
}

.info__icon {
  height: 5rem;
}

@media (max-width: 1399px) {
  .category__wrapper .large__banner img {
    height: 536px;
  }
  .category__wrapper .small__banner img {
    height: 260px;
  }
  .info__icon {
    height: 4rem;
  }
}
@media (max-width: 991px) {
  .category__wrapper .large__banner img {
    height: 415px;
  }
  .category__wrapper .small__banner img {
    height: 200px;
  }
  .info__icon {
    height: 4rem;
  }
  .rotate__area {
    margin-left: auto;
    margin-right: auto;
  }
  .rotate__area svg {
    left: 17% !important;
  }
}
@media (max-width: 575px) {
  .category__wrapper .large__banner img {
    height: 380px;
  }
  .info__icon {
    height: 3.5rem;
  }
  .info__title {
    font-size: 1rem !important;
  }
  .rotate__area {
    margin-left: auto;
    margin-right: auto;
  }
  .rotate__area svg {
    left: 17% !important;
  }
}
.rotate__area text {
  font-size: 14px;
  color: #3f444b;
  letter-spacing: 6PX;
}

.rotate__area svg {
  position: absolute;
  left: -16%;
  width: 65%;
  height: 65%;
  top: -12%;
  -webkit-animation-name: rotate;
  -moz-animation-name: rotate;
  -ms-animation-name: rotate;
  -o-animation-name: rotate;
  animation-name: rotate;
  -webkit-animation-duration: 9s;
  -moz-animation-duration: 9s;
  -ms-animation-duration: 9s;
  -o-animation-duration: 9s;
  animation-duration: 9s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-ms-keyframes rotate {
  from {
    -ms-transform: rotate(0);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}
@-o-keyframes rotate {
  from {
    -o-transform: rotate(0);
  }
  to {
    -o-transform: rotate(360deg);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.circle__bg__overlay {
  width: 40%;
  height: 40%;
  background-color: rgba(63, 68, 61, 0.1);
  top: 31%;
  left: 23%;
  position: absolute;
}

.rotate__area {
  min-height: 200px;
  max-width: 200px;
}

@media (max-width: 575px) {
  .rotate__area {
    min-height: 150px;
    max-width: 150px;
  }
  .rotate__area svg {
    top: -20%;
  }
}
.play__btn {
  border: 2px solid var(--white);
  font-size: 3rem;
  color: var(--white);
  width: 7rem;
  height: 7rem;
}
.play__btn i {
  position: relative;
  left: 3px;
}
.play__btn:hover {
  background-color: #fff;
  color: var(--dark);
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.5);
}

.video__modal .modal-dialog {
  max-width: 1200px;
}
.video__modal .modal-dialog .btn-close {
  top: -4rem;
  right: -4rem;
}

@media (max-width: 991px) {
  .video__thumbnail {
    height: 400px;
  }
  .play__btn {
    width: 5rem;
    height: 5rem;
    font-size: 2rem;
  }
}
@media (max-width: 575px) {
  .video__thumbnail {
    height: 300px;
  }
  .play__btn {
    width: 5rem;
    height: 5rem;
    font-size: 2rem;
  }
}
.testimonail__card {
  border: 1px solid #E5E5E5;
}
.testimonail__card .user__thumbnail {
  width: 3.5rem;
  height: 3.5rem;
}
.testimonail__card .desc {
  min-height: 9rem;
  line-height: 1.6;
}

@media (min-width: 991px) {
  .testimonial__wrapper {
    width: calc(66vw + 4rem);
  }
  .testimonial__wrapper .bg__overlay {
    width: calc(100% - 5rem);
  }
}
.product__carousel {
  display: block;
  max-width: 700px;
  margin: 1em auto 3em;
}

.product__carousel a {
  display: block;
  margin-bottom: 15px;
}

.product__carousel .gallery-top {
  border: 1px solid #D0D0D0;
  border-radius: 3px;
  margin-bottom: 5px;
}

.product__carousel .gallery-top .swiper-slide {
  position: relative;
  overflow: hidden;
}

.product__carousel .gallery-top .swiper-slide a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.product__carousel .gallery-top .swiper-slide a img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product__carousel .gallery-top .swiper-slide .easyzoom-flyout img {
  min-width: 100%;
  min-height: 100%;
}

.product__carousel .swiper-button-next.swiper-button-white,
.product__carousel .swiper-button-prev.swiper-button-white {
  color: var(--brand);
}

.product__carousel .gallery-thumbs .swiper-slide {
  position: relative;
  transition: border 0.15s linear;
  border: 1px solid #D0D0D0;
  border-radius: 3px;
  cursor: pointer;
  overflow: hidden;
  height: calc(100% - 2px);
}

.product__carousel .gallery-thumbs .swiper-slide.swiper-slide-thumb-active {
  border-color: #000;
}

.product__carousel .gallery-thumbs .swiper-slide img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
}

/*------- Product Count Box Styles --------*/
.product__coun__box {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
  border-radius: 0.5rem;
  max-width: 8rem;
  overflow: hidden;
}
.product__coun__box .btn {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1;
  color: #000000;
  padding: 0.55rem 0.75rem;
}
.product__coun__box .btn:hover {
  color: var(--brand);
}
.product__coun__box .form-control {
  width: 1.5rem;
  padding: 0%;
  text-align: center;
  border: 0;
  border-left: 1px solid rgba(0, 0, 0, 0.1294117647);
  border-right: 1px solid rgba(0, 0, 0, 0.1294117647);
  pointer-events: none;
}

.filter__wrapper .form-check {
  margin-bottom: 1rem;
}
.filter__wrapper .form-check-label {
  text-transform: uppercase;
  font-weight: 500;
  color: #6c6c6c;
}
.filter__wrapper .filter__btn {
  position: relative;
}
.filter__wrapper .filter__btn::after {
  content: "";
  width: 1.125rem;
  height: 1.125rem;
  display: block;
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-size: 1.25rem 1.25rem;
  background-position: center center;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiMwMDAiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0iZmVhdGhlciBmZWF0aGVyLW1pbnVzIj48bGluZSB4MT0iNSIgeTE9IjEyIiB4Mj0iMTkiIHkyPSIxMiI+PC9saW5lPjwvc3ZnPg==");
}
.filter__wrapper .filter__btn.collapsed::after {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiMwMDAiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0iZmVhdGhlciBmZWF0aGVyLXBsdXMiPjxsaW5lIHgxPSIxMiIgeTE9IjUiIHgyPSIxMiIgeTI9IjE5Ij48L2xpbmU+PGxpbmUgeDE9IjUiIHkxPSIxMiIgeDI9IjE5IiB5Mj0iMTIiPjwvbGluZT48L3N2Zz4=");
}
.filter__wrapper .card {
  margin-bottom: 1.5rem;
}

.btn-outline-primary.filter__btn:hover svg path {
  fill: none;
  stroke: var(--white);
}

.form-check-input {
  border-color: var(--border-color);
  width: 1.125rem;
  height: 1.125rem;
}
.form-check-input[type=checkbox] {
  border-radius: 0.2rem;
}
.form-check-input:checked {
  background-color: #3498db;
  border-color: #3498db;
}

.pagination {
  justify-content: center;
}
.pagination .page-item {
  margin: 0.4rem;
}
.pagination .page-item .page-link {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.625rem;
  font-weight: 700;
  color: #2B2A68;
  min-width: 2.875rem;
  min-height: 2.875rem;
}
.pagination .page-item .page-link .fa {
  font-size: 1.25rem;
}
.pagination .page-item .page-link.active {
  background-color: var(--brand);
  background-color: var(--brand);
  color: var(--white);
  box-shadow: none;
}

/*-------------- Product Img Zoom Styles -------------*/
.product-img--main {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 450px;
  height: 450px;
  margin: 0% auto;
}

.product-img--main__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

/*-------------- Product Details Page Styles -------------*/
.product__details__wrapp .carousel .carousel-indicators {
  top: 0rem;
  justify-content: flex-start;
  margin-right: 0;
  margin-left: 0;
  display: block;
  width: 8rem;
}
.product__details__wrapp .carousel .carousel-indicators [data-bs-target] {
  width: 7.5rem;
  height: auto;
  padding: 0;
  text-indent: inherit;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #D0D0D0;
  opacity: 1;
  margin-bottom: 1rem;
}
.product__details__wrapp .carousel .carousel-indicators .active {
  border-color: var(--brand);
}
.product__details__wrapp .carousel .carousel-inner {
  width: calc(100% - 9rem);
  margin-left: auto;
  border: 1px solid #D0D0D0;
}
.product__details__wrapp .text-5c {
  color: #5c5c5c;
}
.product__details__wrapp .btn__wish {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
  background-color: #F4F4F4;
  color: #000;
}
.product__details__wrapp .btn__wish:hover {
  color: var(--brand);
  background-color: var(--dark);
}
.product__details__wrapp .cart__btn {
  background-color: #000000;
  border-color: #000000;
}
.product__details__wrapp .cart__btn img {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.5rem;
  position: relative;
  top: -2px;
}
.product__details__wrapp .cart__btn:hover {
  background-color: var(--brand);
  border-color: var(--brand);
}
.product__details__wrapp .nav-tabs {
  justify-content: flex-start;
  margin-bottom: 1.5rem;
}
.product__details__wrapp .review__list {
  max-height: 32.5rem;
  overflow-y: auto;
  padding-right: 0.5rem;
}
.product__details__wrapp .review__list li {
  padding-bottom: 0.875rem;
}
.product__details__wrapp .review__list li:not(:last-child) {
  border-bottom: 1px solid #eee;
  margin-bottom: 0.875rem;
}
.product__details__wrapp .review__list li .thumbnail {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: cover;
  object-position: center;
}
.product__details__wrapp .review__list li .caption {
  width: calc(100% - 3.5rem);
  padding-left: 0.875rem;
}
.product__details__wrapp .review__list li .caption .stars .star {
  margin-right: 0.2rem;
  font-size: 14px;
  color: var(--border-color);
}
.product__details__wrapp .review__list li .caption .stars .star.active:nth-child(1) {
  color: #ffc200;
}
.product__details__wrapp .review__list li .caption .stars .star.active:nth-child(2) {
  color: #ffbc06;
}
.product__details__wrapp .review__list li .caption .stars .star.active:nth-child(3) {
  color: #ffae18;
}
.product__details__wrapp .review__list li .caption .stars .star.active:nth-child(4) {
  color: #ff9736;
}
.product__details__wrapp .review__list li .caption .stars .star.active:nth-child(5) {
  color: #ff953a;
}
.product__details__wrapp .star-rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  padding: 0 0.2em;
  text-align: center;
  width: 6.5rem;
}
.product__details__wrapp .star-rating input {
  display: none;
}
.product__details__wrapp .star-rating label {
  color: #ccc;
  cursor: pointer;
  margin-right: 0.2rem;
}
.product__details__wrapp .star-rating :checked ~ label {
  color: #f90;
}
.product__details__wrapp .star-rating label:hover,
.product__details__wrapp .star-rating label:hover ~ label {
  color: #fc0;
}

.scroller * {
  scrollbar-width: thin;
  scrollbar-color: #ddd #eee;
}

.scroller *::-webkit-scrollbar {
  width: 12px;
}

.scroller *::-webkit-scrollbar-track {
  background: #eee;
}

.scroller *::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border-radius: 20px;
  border: 3px solid #eee;
}

.size__list li {
  margin: 0 1rem 1rem 0;
  background-color: #fff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
  border: 1px solid #D8D8D8;
  border-radius: 0.5rem;
  padding: 0.65rem;
  color: #111;
}
.size__list.details__page li {
  color: #AFAFAF;
  min-width: 3rem;
  text-align: center;
  cursor: pointer;
}
.size__list.details__page li:hover {
  background-color: #f3f4f1;
}
.size__list.details__page li.js--active {
  background-color: var(--brand);
  color: var(--white);
}
.size__list.color__list li {
  width: 2.5rem;
  height: 2.5rem;
  border: 0;
  cursor: pointer;
}
.size__list.color__list li.js--active {
  outline: 2px solid var(--brand);
  outline-offset: 0.25rem;
}

/*------- Product Count Box Styles --------*/
.product__coun__box {
  border: 1px solid #707070;
  border-radius: 3rem;
  max-width: 10rem;
  overflow: hidden;
}
.product__coun__box .btn {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1;
  color: #000000;
  padding: 0.55rem 1rem;
}
.product__coun__box .btn:hover {
  color: var(--brand);
}
.product__coun__box .form-control {
  width: 1.5rem;
  padding: 0%;
  text-align: center;
  border: 0;
  border-left: 1px solid #707070;
  border-right: 1px solid #707070;
  pointer-events: none;
}

.disc__list li {
  position: relative;
  padding-left: 1rem;
  color: #000000;
  margin-bottom: 0.75rem;
}
.disc__list li::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: block;
  background-color: #000;
  position: absolute;
  top: 0.625rem;
  left: 0%;
}

/*---------------------- Cart Page Styles ----------------------------*/
.product__cart__table {
  font-size: 0.937rem;
}
.product__cart__table .border-bottom, .product__cart__table .border-top {
  border-color: #EAEAEA !important;
}
.product__cart__table .thumbnail__box .btn {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0%;
}
.product__cart__table .thumbnail__box .btn:hover {
  background-color: #f2f2f2;
}
.product__cart__table .thumbnail__box .thumbail {
  width: calc(100% - 3rem);
  text-align: center;
}
.product__cart__table .thumbnail__box .thumbail img {
  max-height: 10rem;
}
.product__cart__table .price__color {
  color: #242C2C;
}
.product__cart__table .border-secondary {
  border-color: var(--border-color-light) !important;
}
.product__cart__table .counter__box {
  width: 100%;
  display: flex;
  margin: 0 !important;
}
.product__cart__table .counter__box .btn:focus {
  background-color: var(--white);
}
.product__cart__table .coupon_code_form__wrapp {
  max-width: 29rem;
}
.product__cart__table .coupon_code_form__wrapp .form-control {
  width: calc(100% - 11rem);
  max-width: 100%;
  margin-right: 0.875rem;
  min-height: 3rem;
}

.checkout__btn__hover:hover {
  box-shadow: inset 35rem 0 0 0 var(--dark);
}

/*---------------------- Checkout Page Styles ----------------------------*/
.checkout__details__wrapper .auth__actions .btn {
  min-width: 15rem;
}
.checkout__details__wrapper .payment__card {
  border: 1px solid #d1d1d1;
  padding: 0.65rem 0.75rem;
}
.checkout__details__wrapper .payment__card .icon {
  height: 2rem;
}
.checkout__details__wrapper .payment__card .icon img {
  height: 2rem;
  width: auto;
}
.checkout__details__wrapper .payment__card .icon img.lg {
  height: 2.75rem;
}
.checkout__details__wrapper .payment__card .icon .plus {
  height: 1.5rem;
}
.checkout__details__wrapper .payment__card .date {
  color: #262626;
}
.checkout__details__wrapper .payment__card.add__new {
  background-color: #F4F4F4;
}
.checkout__details__wrapper .payment__card.active {
  border-color: #0093FF;
}
.checkout__details__wrapper .light__link {
  color: #8E8E8E;
}
.checkout__details__wrapper .light__link:hover {
  color: #0093FF;
}
.checkout__details__wrapper .address__list li {
  border: 1px solid #D1D1D1;
  border-radius: 0.875rem;
  padding: 1rem 1rem 1rem 2rem;
}
.checkout__details__wrapper .address__list li .address {
  color: #8E8E8E;
}
.checkout__details__wrapper .address__list li:not(:last-child) {
  margin-bottom: 1rem;
}
.checkout__details__wrapper .address__list li.active {
  border-color: #397EF5;
  border-left-width: 0.5rem;
}
.checkout__details__wrapper .form-select {
  height: 2.5rem;
}
.checkout__details__wrapper .timing__list li {
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--border-secondary);
  color: #262626;
  border-radius: 0.65rem;
  margin: 0% 0.5rem 0.5rem 0;
  cursor: pointer;
}
.checkout__details__wrapper .timing__list li:hover {
  background-color: var(--grey);
}
.checkout__details__wrapper .timing__list li.active {
  background-color: var(--brand);
  border-color: var(--brand);
  color: var(--white);
}

/*---------------------- Wishlist Page Styles ----------------------------*/
.wishlist__card .thumbnail__box img {
  width: 100%;
  height: 5rem;
  object-fit: cover;
  object-position: center center;
}

/*---------------------- User Dashboard Page Styles ----------------------------*/
.user__dashboard__wrapper .card {
  border-color: var(--border-color);
}
.user__dashboard__wrapper .user__box {
  width: 220px;
  flex: 0 0 auto;
  border-right: 1px solid #B5B5B5;
  padding-right: 2rem;
  padding-bottom: 3rem;
}
.user__dashboard__wrapper .user__box .thumbnail__box {
  width: 6rem;
  height: 6rem;
  background-color: #F8F8F8;
}
.user__dashboard__wrapper .user__box .nav-pills .nav-link {
  text-align: left;
  padding: 0.5rem 1rem 0.5rem 2rem;
  border-radius: 0 2rem 2rem 0;
  color: var(--dark);
  font-weight: 500;
}
.user__dashboard__wrapper .user__box .nav-pills .nav-link.active {
  background-color: #F5F5F5;
}
.user__dashboard__wrapper .form-control {
  height: 3.25rem;
  border-color: #F1F3F4;
  font-family: var(--roboto);
}
.user__dashboard__wrapper .order__card:not(:last-child) {
  margin-bottom: 1.24rem;
}
.user__dashboard__wrapper .order__card .card-header {
  background-color: #FAF7EE;
}
.user__dashboard__wrapper .order__card .card-header .price__box {
  border-left: 1px solid var(--border-secondary);
  border-right: 1px solid var(--border-secondary);
}
.user__dashboard__wrapper .order__card .product__box .product__thumbnail {
  width: 8rem;
}
.user__dashboard__wrapper .order__card .product__box .product__thumbnail .thumbnail {
  width: 8rem;
  max-height: 150px;
  object-fit: cover;
  object-position: center center;
}
.user__dashboard__wrapper .order__card .product__box .caption {
  width: calc(100% - 8rem);
  padding-left: 1rem;
}
.user__dashboard__wrapper .order__card .stepper .circle {
  width: 22px;
  height: 22px;
  border: 1px solid var(--border-color);
}
.user__dashboard__wrapper .order__card .stepper .circle.active {
  border-color: var(--brand);
}
.user__dashboard__wrapper .order__card .stepper .circle.active::before {
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--brand);
  display: block;
}
.user__dashboard__wrapper .order__card .stepper::after {
  content: "";
  width: calc(100% - 3.5rem);
  height: 3px;
  display: block;
  background-color: #CBCBCB;
  position: absolute;
  top: 10px;
  left: 2rem;
  z-index: 0;
}
.user__dashboard__wrapper .order__card .stepper.active__confim .step__item:nth-child(1) .circle {
  border: 1px solid var(--brand);
}
.user__dashboard__wrapper .order__card .stepper.active__confim .step__item:nth-child(1) .circle::before {
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--brand);
  display: block;
}
.user__dashboard__wrapper .order__card .stepper.active__confim::before {
  content: "";
  width: calc(50% - 1.5rem);
  height: 3px;
  display: block;
  background-color: var(--brand);
  position: absolute;
  top: 10px;
  left: 2rem;
  z-index: 1;
}
.user__dashboard__wrapper .order__card .stepper.active__shipp .step__item:nth-child(1) .circle, .user__dashboard__wrapper .order__card .stepper.active__shipp .step__item:nth-child(2) .circle {
  border: 1px solid var(--brand);
}
.user__dashboard__wrapper .order__card .stepper.active__shipp .step__item:nth-child(1) .circle::before, .user__dashboard__wrapper .order__card .stepper.active__shipp .step__item:nth-child(2) .circle::before {
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--brand);
  display: block;
}
.user__dashboard__wrapper .order__card .stepper.active__shipp::before {
  content: "";
  width: calc(100% - 3.5rem);
  height: 3px;
  display: block;
  background-color: var(--brand);
  position: absolute;
  top: 10px;
  left: 2rem;
  z-index: 1;
}
.user__dashboard__wrapper .order__card .stepper.active__delived .step__item .circle {
  border: 1px solid var(--brand);
}
.user__dashboard__wrapper .order__card .stepper.active__delived .step__item .circle::before {
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--brand);
  display: block;
}
.user__dashboard__wrapper .order__card .stepper.active__delived::before {
  content: "";
  width: calc(100% - 3.5rem);
  height: 3px;
  display: block;
  background-color: var(--brand);
  position: absolute;
  top: 10px;
  left: 2rem;
  z-index: 1;
}
.user__dashboard__wrapper .order__card .card-footer {
  overflow-x: auto;
}
.user__dashboard__wrapper .order__card .card-footer .table {
  min-width: 600px;
}
.user__dashboard__wrapper .order__card .card-footer .table th {
  background-color: #F4F4F4;
  padding: 0.75rem;
}
.user__dashboard__wrapper .order__card .card-footer .table th:nth-child(1) {
  padding-left: 2rem;
}
.user__dashboard__wrapper .order__card .card-footer .table td {
  padding: 0.75rem;
  border: 0;
  background-color: #FCF9F9;
}
.user__dashboard__wrapper .order__card .card-footer .table td:nth-child(1) {
  padding-left: 2rem;
}
.user__dashboard__wrapper .order__card .card-footer .table > :not(:first-child) {
  border-top: 0;
}
.user__dashboard__wrapper .order__card .card-footer .table.table-striped > tbody > tr:nth-of-type(2n+1) > * {
  background-color: #FAF7EE;
}/*# sourceMappingURL=style.css.map */